<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/chat.css">
    <title>WebJet</title>
</head>
<body>
    <div class="chat-window-main">
        <div class="chat-window-chats">
            <div class="chat-window-chats-header">
                <img src="<%= user.photo %>" alt="" class="user-profile-pic">
                <span>Chats</span>
            </div>
            <div class="chat-window-chats-search">
                <label class="chat-search">
                    <input type="text" name="searchUser" class="chat-page-inputs" placeholder="Search WebJet">
                </label>
            </div>
            <div class="chat-window-chats-list">
                <div class="chat-list-card">
                    <div class="row">
                        <div class="col-2"><img src="<%= user.photo %>" alt="" class="chat-list-card-img"></div>
                        <div class="col-10">
                            <div><%= user.displayName %></div>
                            <div>Lorem Ipsum is simply dummy...</div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-card">
                    <div class="row">
                        <div class="col-2"><img src="<%= user.photo %>" alt="" class="chat-list-card-img"></div>
                        <div class="col-10">
                            <div><%= user.displayName %></div>
                            <div>Lorem Ipsum is simply dummy...</div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-card">
                    <div class="row">
                        <div class="col-2"><img src="<%= user.photo %>" alt="" class="chat-list-card-img"></div>
                        <div class="col-10">
                            <div><%= user.displayName %></div>
                            <div>Lorem Ipsum is simply dummy...</div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-card">
                    <div class="row">
                        <div class="col-2"><img src="<%= user.photo %>" alt="" class="chat-list-card-img"></div>
                        <div class="col-10">
                            <div><%= user.displayName %></div>
                            <div>Lorem Ipsum is simply dummy...</div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-card">
                    <div class="row">
                        <div class="col-2"><img src="<%= user.photo %>" alt="" class="chat-list-card-img"></div>
                        <div class="col-10">
                            <div><%= user.displayName %></div>
                            <div>Lorem Ipsum is simply dummy...</div>
                        </div>
                    </div>
                </div>
                <div class="chat-list-card">
                    <div class="row">
                        <div class="col-2"><img src="<%= user.photo %>" alt="" class="chat-list-card-img"></div>
                        <div class="col-10">
                            <div><%= user.displayName %></div>
                            <div>Lorem Ipsum is simply dummy...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-window-current-chat">
            <div class="chat-window-current-chat-messages-pane">
                  <!-- chat message section -->
            </div>
            <div class="chat-window-current-chat-text-input">
                <label class="chat-search">
                    <input type="text" name="message" class="chat-page-inputs" placeholder="Type a message..." autocomplete="off" data-receiver='<%= user.id == "110192510042526084900" ? "104748074373599573206" : "110192510042526084900" %>' data-sender="<%= user.id %>">
                </label>
            </div>
        </div>
        <div class="chat-window-connection-pane">
            <div class="chat-window-connection-image"></div>
            <div class="chat-window-connection-detai"></div>
        </div>
    </div>
    <!-- client message template -->   
    <div class="row justify-content-end no-gutters client-message-template" hidden>
        <span class="client-message">Lorem Ipsum is simply dummy</span>
    </div>
    <!-- connection message template -->
    <div class="row justify-content-start no-gutters connection-message-template" hidden>
        <span class="connection-message">Lorem Ipsum is simply dummy</span>
    </div>
    <!-- socket.io cdn -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <!-- bootstrap jQuery plugin cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- local js scripts -->
    <script src="js/socketio.js"></script>
</body>
</html>